* {
  box-sizing: border-box;
}

#root,
html,
body {
  width: 100%;
  height: 100%;
}

/* ------------------- search.jsx -------------------*/
.search-container {
  display: flex;
  max-width: 1200px;
  height: 4rem;
  margin: 0 auto;
  background-color: rgb(22, 21, 21);
  justify-content: center;
  align-items: center;
}

.logo-name-wrapper {
  display: inline-flex;
  align-items: center;
}

.youtube-logo {
  position: relative;
  color: red;
  font-size: 3rem;
  float: left;
  margin-right: 20px;
}

.youtube-name {
  display: inline-block;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin-right: 1rem;
}

.search-form {
  display: flex;
  width: 70%;
  height: 100%;
  float: right;
  justify-content: center;
  align-items: center;
}

.search-bar {
  display: inline-block;
  width: 90%;
  height: 80%;
  padding-left: 1rem;
  font-size: 2rem;
  border: none;
}

.search-btn {
  width: 3rem;
  height: 80%;
  background-color: gray;
  color: whitesmoke;
  font-size: 2rem;
  text-align: center;
  border: none;
}

/* ------------------- videoContainer.jsx -------------------*/
.content-container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  border: 1px solid black;
  text-align: center;
}

/* ------------------- videoCard.jsx ------------------- */
.video-card {
  position: relative;
  display: inline-flex;
  width: 45%;
  min-width: 150px;
  margin: 10px 10px;
  padding: 10px;
  /* background-color: lightgreen; */
  border: 2px solid black;
  align-items: center;
  text-align: left;
}

.video-thumbnail {
  width: 40%;
  float: left;
}

.video-thumbnail > img {
  display: block;
  width: 100%;
  border-radius: 5px;
}

.video-description {
  display: inline-block;
  position: relative;
  width: 60%;
  padding: 0 1rem;
}

.video-title {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
  font-weight: bold;
  /* background-color: red; */
}

.video-channel {
  display: inline-block;
  position: relative;
  width: 100%;
  color: gray;
  /* background-color: blue; */
}

@media screen and (max-width: 900px) {
  .video-card {
    width: 100%;
  }
  .video-card {
    margin: 0;
  }
}
